/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
/* Set the fixed height of the footer here */
#footer {
    height: 30px;
    background-color: #8bc4bc;/*#5bc0de;*/
    text-align: center;
/*    margin-top: 12px;  这里不要随便添加*/
    font-size: 15px;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #0f6e60;

    -webkit-box-shadow: 0 -1px 3px #6c6b64;
    -ms-box-shadow: 0 -1px 3px #6c6b64;
    -o-box-shadow: 0 -1px 3px #6c6b64;
    -moz-webkit-shadow: 0 -1px 3px #6c6b64;
    box-shadow: 0 -1px 3px #6c6b64;
}

#footer div.container {
    display: inline-block;
}

#footer div.container div.footer-cell{
    display: inline-block;
    margin-right: 12px;
}

div.footer-cell a{
    color: #138978;
}

div.footer-cell a:hover,
div.footer-cell a:focus,
div.footer-cell a:active{
    color: #0f6e60;
}

div.footer-cell span {
    color: #0f6e60;
}

div.footer-cell a:hover,
div.footer-cell a:active {
    text-decoration: none;
}
