    <title>个人博客</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Sticky Footer -->
	<link href="{{ "/css/bs-sticky-footer.css " | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet">
			
	<!-- Bootstrap styles -->
	<link href="{{ "/css/main.css " | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet">
			
	<!-- Modernizr -->
	<script src="{{ "/js/vendor/modernizr-2.8.3.min.js " | prepend: site.baseurl | prepend: site.url }}"></script>
	<!-- Respond.js for IE 8 or less only -->
	<!--[if (lt IE 9) & (!IEMobile)]>
	<script src="{{ "/js/vendor/respond.min.js " | prepend: site.baseurl | prepend: site.url }}"></script>
	<![endif]-->
			
	<!-- Fav and touch icons -->
	<link rel="shortcut icon" href="{{ "/images/favicon.ico " | prepend: site.baseurl | prepend: site.url }}">  
    <!-- Update these with your own images
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body> 
    <div id="wrap">
      <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header role="banner">
            <nav role="navigation" class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-1">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="index.html">
									<img src="{{ "/images/logo.png " | prepend: site.baseurl | prepend: site.url }}" alt="Home" width="116" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 right">
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="index.html" name="Blog" data-toggle="tooltip" data-placement="bottom" title="博客">  
                                        <span class="icon fa fa-tencent-weibo"></span>
                                    </a></li>
                                    <li><a href="#" name="Gallery" data-toggle="tooltip" data-placement="bottom" title="相册">
                                        <span class="icon fa fa-picture-o"></span>
                                    </a></li>
                                    <li><a href="#" name="About me" data-toggle="tooltip" data-placement="bottom" title="me">
                                        <span class="icon fa fa-user"></span>
                                    </a></li>
                                    <li><a href="#" name="Demo online" data-toggle="tooltip" data-placement="bottom" title="Demo">
                                        <span class="icon fa fa-play"></span>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-1">

                        </div>
                    </div>
                </div>
            </nav>
        </header>

		<div class="page-contents">
            <div class="container-fluid">
                <div class="row">
                    <div class="left-space col-lg-1 col-md-0">
                    </div>

                    <div class="blog-order col-lg-6 col-md-6">
						<div class="header-talk">
                            <div class="header-saying">
                                I leave no trace of wings in the air, but I am glad I have had my flight.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  ——Tagore
                            </div>
                            <div class="header-description">
                                欢迎大家访问我的博客空间！我从15年初起接触到web前端，之后便一直努力学习着。至今，这个空间记录着我前端路上的点点滴滴，
                                另外，也有一部分记录着关于我自己的兴趣爱好。期待大家的留言，你们的鼓励是我前进路上最大的动力！
                            </div>
                            <div class="header-gap">
                                <span class="icon fa fa-scissors"></span>
                            </div>
                        </div>
						{{ content }}
						
						<div class="page-bottoms">
							<div class="bottom-gap">
								<span class="icon fa fa-scissors"></span>
							</div>
			
								<div class="fenye">	
								{% if paginator.total_pages > 1 %}  
									{% if paginator.previous_page %}  
									<div class="fenye-link"><a href="{{ paginator.previous_page_path }}">上一页</a></div>  
									{% endif %} 

									{% for page in (1..paginator.total_pages) %}  
										{% if page == paginator.page %}
											{% if page == 1 %} 
												<div class="fenye-a active home"><a href="/index.html">{{ page }}</a></div> 
											{% else %}  
												<div class="fenye-a active"><a href="{{ site.paginate_path | replace: ':num',page }}">{{ page }}</a></div> 
											{% endif %}  
										{% else if page == 1 %}  
									<div class="fenye-a"><a href="/index.html">{{ page }}</a></div> 
										{% else %}  
									<div class="fenye-a"><a href="{{ site.paginate_path | replace: ':num',page }}">{{ page }}</a></div>  
										{% endif %}  
									{% endfor %} 
      
									{% if paginator.next_page %}  
									<div class="fenye-link"><a href="{{ paginator.next_page_path }}">下一页</a></div>
										{% endif %}  
								{% else %} 
									<div class="home"></div>
								{% endif %}  
								</div>
							<div class="comment">
							<div id="show_disqus">
                                <div class="center">comments<span class="icon fa fa-comment"></span></div>
                            </div>
							</div>
						</div>
                    </div>
					
                    <div class="col-lg-2 col-md-1">
                    </div>

                    <div class="blog-side-bar col-lg-3 col-md-4">
                        <div class="sidebar-outline">
                                        <div class="header">Category</div>
                                        <div class="tag-line"></div>
										{% for category in site.categories %}
                                        <div class="cell">
                                                <div class="per-category">
                                                    <div class="per-first">{{ category | first }}</div>
                                                    <span>{{ category | last | size }}</span>
                                                </div>
                                            <div class="transparent"></div>                           
									   </div>
									   
									   <div class="hid-ul hiden">
												<ul class="arc-list">
													{% for post in category.last %}
														<li><a href="{{site.production_url}}/Personal-blog{{ post.url }}">{{ post.title }}</a></li>
													{% endfor %}
											    </ul>
                                            </div>
										{% endfor %}
								 </div>
                    </div>
                    <div class="right-space col-lg-0 col-md-1"></div>
                </div>
            </div>
        </div>
		

    </div>

    <div id="footer">
            <div class="container">
                <div class="footer-cell">
                    <span class="icon fa fa-qq"></span>
                    <a href="https://mail.qq.com/cgi-bin/loginpage">1262623665</a>
                </div>
                <div class="footer-cell">
                    &copy; 2015 樊迪制作 前端小伙
                </div>
                <div class="footer-cell">
                    <span class="icon fa fa-github"></span>
                    <a href="https://github.com/ffandii">Github</a>
                </div>
            </div>
    </div>
  
    {% include JB/analytics %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
    <script src="{{ "/js/plugins.js "| prepend: site.baseurl | prepend: site.url }}"></script>
	<script src="{{ "/js/color-animation.js " | prepend: site.baseurl | prepend: site.url }}" ></script>
    <script src="{{ "/js/main.js " | prepend: site.baseurl | prepend: site.url }}"></script>
  </body>